
<div class="row">
  <div class="col-md-8">
      <p class="text-center">
          <h2>Hi, I'm Aneta</h2>
          <h3  class=" create-project">
            I’ve become a crochet addict about 3 years ago. I bought once a gorgeous dress which was handmade. I fell in love with it so much that I was scared to ware it, in case it catches irremovable stain. It’s cream colour so the danger was real. I got talking with colleague about handmade clothes one day and she said that she can make almost anything, you name it: knitting, crocheting, stitching, sewing, painting etc. So I showed her a picture of my lovely dress and she said it crochet. She offered to teach me the basics, gave me few books, crochet hook and then I was lost in the crochet land. I love the idea that I can make almost everything. And if on top of that I get positive comments on my things, then it’s a really satisfying moment.
          </h3>
      </p>
  </div>

  <div class="col-md-4">.col-md-4</div>
</div>