<div class="row">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">BANK OF IDEAS</h3>
    </div>
    <div class="card-block">
      <p class="card-text">Place with inspiration found on internet</p>
      <div >
      <%= link_to(image_tag('gallery.jpg', class:"menu_img"), photos_path) %>
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">BLOG</h3>
    </div>
    <div class="card-block">
      <p class="card-text">Crochet hook in action</p>
      <%= link_to(image_tag('blog.jpg', class:"menu_img"), blog_articles_path) %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">SHOP</h3>
    </div>
    <div class="card-block">
      <p class="card-text">Place to share my work with others</p>
      <%= link_to(image_tag('shop.jpg', class:"menu_img"), shop_path) %>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">ABOUT ME</h3>
    </div>
    <div class="card-block">
      <p class="card-text">So you know who you are dealing with</p>
      <%= link_to(image_tag('yarn_ball.png', class:"menu_img"), about_path) %>
    </div>
  </div>
</div>


