<nav class="navbar navbar-default navbar-static-top">
  <div class="container menu_navbar", style="margin-top: 2%;">
    wozane
  </div>
</nav>


<div class="row menu_body">
  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">GALLERY</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <img src="..." alt="Card image">

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go see something</a>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card card-block">
      <h3 class="card-title">BLOG</h3>
      <h6 class="card-subtitle text-muted">Support card subtitle</h6>
    </div>

    <img src="https://pixabay.com/pl/szydełkowania-przędza-diy-tkania-1479217/" alt="Card image">

    <div class="card-block">
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
      <a href="#" class="btn btn-primary">Go read something</a>
    </div>
  </div>
</div>


