$navbar-default-bg: #F2FBCF;
$body-bg: #FFFFFF;
$btn-primary-bg: #BDB8AD;

@import "bootstrap-sprockets";
@import "bootstrap";
@import "https://fonts.googleapis.com/css?family=Give+You+Glory|Delius+Unicase|Coming+Soon|Trochut";
@import "welcome";
@import "menu";

.push-spaces{
  height: 100px;
}

body {
  color: #28132E;
  font-family: 'Coming Soon', cursive;
}