$navbar-default-bg: #014421;
$body-bg: #fa9fba;

@import "bootstrap-sprockets";
@import "bootstrap";
@import 'https://fonts.googleapis.com/css?family=Give+You+Glory|Delius+Unicase|Coming+Soon|Trochut';

.jumbotron {
  position: relative;
   width: 100%;
  height: 100vh;
  background-size: cover;
  overflow: hidden;
  font-family: 'Delius Unicase', cursive;
  color: #838288; // change text color
  text-align: center;
}
.push-spaces{
  height: 100px;
}

body {
  color: #28132E;
}

.welcome-button {
    position: fixed;
    bottom: 20%;
    right: 25%;
    color: #838288 !important;
}

/*--- menu ---*/
.menu_navbar {
  margin-top: 2%;
  font-family: 'Trochut', cursive;
}

.menu_body {
  font-family: 'Coming Soon', cursive;
  background-color: #CDEDC0;
}
