// Place all the styles related to the gallery/photos controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#articles {
  margin: 0 auto;
}

.box {
  margin: 5px;
  width: 300px;
}

.box img {
  width: 100%;
}

.responsive.html_stretched .av-masonry-entry{
  width: 12.5% !important;
}
